<launch>
    <arg name="Gazebo" default="True" />
    <arg name="slam_toolbox" default="True" />
        <!-- slam_toolbox -->
    <group if="$(arg slam_toolbox)">
        <include file="$(find slam_toolbox)/online_async.launch" />
    </group>
    <!-- turtlebot3_navigation -->
    <include file="$(find turtlebot3_navigation)/launch/move_base.launch" /> 
</launch>